<nav aria-label="Main navigation" class="site-nav">
	<a [routerLinkActiveOptions]="{ exact: true }"
	   class="site-nav__link"
	   routerLink="/"
	   routerLinkActive="site-nav__link--active">
		The Muster Roll
	</a>

	<a class="site-nav__link"
	   routerLink="/viewer"
	   routerLinkActive="site-nav__link--active">
		Field Intelligence
	</a>

	<a class="site-nav__link"
	   routerLink="/game-data"
	   routerLinkActive="site-nav__link--active">
		The Armoury
	</a>

	<a class="site-nav__link"
	   routerLink="/about"
	   routerLinkActive="site-nav__link--active">
		About
	</a>
</nav>
